[Unit]
Description=Raspicat-hotspot
After=
Requires=

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'sudo bash /home/ubuntu/raspicat_hotspot.sh'

[Install]
WantedBy=multi-user.target